.vscode/**
.vscode-test/**
out/**
src/**
node_modules/**
.env
.gitignore
.vscodeignore
esbuild.js
tsconfig.json
**/*.map
**/*.ts
test/**
vitest.config.ts
.vscode-test.mjs
.eslintrc.json
playwright.config.ts
test-results/**
playwright-report/**
docs/**
